.calculator-body-buttons-small {
  width: 100%;
  height: 35px;
  margin-top: 30px;

  @extend %flex;
  justify-content: space-around;
}

.calculator-body-buttons-small__button {
  width: 18.5%;
  height: 100%;
  background: $buttonBackgroundColor;
  color:$buttonColor;

  @extend %flexCenterCenter;

  &:hover {
    cursor: pointer;
    background: $buttonBackgroundColorOpacity;
  }
}
