.calculator-body-buttons-basic {
  width: 100%;
  height: 45px;
  margin-top: 10px;

  @extend %flex;
  justify-content: space-around;
}

.calculator-body-buttons-basic__button {
  width: 18.5%;
  height: 100%;
  background: $buttonBackgroundColor;
  color:$buttonColor;

  @extend %flexCenterCenter;

  &:hover {
    cursor: pointer;
    background: $buttonBackgroundColorOpacity;
  }
}
